<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qule.gino.zhihuread"
    android:versionCode="1"
    android:versionName="v0.5.0.2018" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 以下为友盟统计所需要权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
	友盟用户反馈 
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 启动界面 -->
        <activity
            android:name="qule.gino.zhihuread.ui.SplashActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Styled" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="qule.gino.zhihuread.ui.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Styled" >
        </activity>

        <!-- 详情页 -->
        <activity
            android:name="qule.gino.zhihuread.ui.ReadDetailActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Styled" >
        </activity>

        <!-- 设置页 -->
        <activity
            android:name="qule.gino.zhihuread.ui.SettingActivity"
            android:theme="@style/Theme.Styled" >
        </activity>

        <!-- 友盟用户方反馈 -->
        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="518652aa56240b6f800343b5" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Myself" />
    </application>

</manifest>